body {
  background-color: #eeeeee;
  margin: 0px;
  padding: 0px;
}
#imgasos {
  width: 650px;
  height: 120px;
  margin: auto;
  border: 0.1px solid #eeeeee;
}
#imgasos > h1 {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  border: 0px solid #eeeeee;
}
#container {
  width: 650px;
  margin: auto;
  padding: 30px 5px 30px 5px;
  border: 1px solid white;
  background-color: white;
}
#row1 {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.223);
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
}
#join {
  color: rgba(0, 0, 0, 0.544);
  font-family: sans-serif;
}
#singin {
  color: rgba(0, 0, 0, 0.549);
  margin-left: 250px;
  font-family: sans-serif;
}
#join:hover {
  color: black;
  cursor: pointer;
}
#singin:hover {
  color: black;
  cursor: pointer;
}
h3 {
  margin-top: 50px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: sans-serif;
  color: #222222;
}
* {
  box-sizing: border-box;
}

form {
  width: 350px;
  margin: auto;
  font-family: sans-serif;
  color: #767676;
  margin-top: 40px;
}
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 15px 0 25px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.384);
  background: white;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: white;
  outline: none;
}
#up {
  font-size: 15px;
  margin-bottom: 5px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
#btn {
  font-size: 20px;
  text-align: center;
  background-color: #222222;
  color: #eeeeee;
  letter-spacing: 0.5px;
  width: 350px;
  padding: 10px;
  border: none;
}
#btn:hover {
  background-color: #767676;
}
p {
  text-align: center;
  font-family: sans-serif;
}
h3 {
  margin-top: 50px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: sans-serif;
  color: #222222;
}
#box {
  width: 350px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  /* border: 1px solid black; */
  display: flex;
  gap: 10px;
}
#google {
  width: 45%;
  border: 1px solid rgb(185, 183, 183);
  margin-right: 20px;
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
}
#google:hover {
  cursor: pointer;
}
#apple {
  width: 45%;
  border: 1px solid rgb(185, 183, 183);
  margin-left: 20px;
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
}
#apple:hover {
  cursor: pointer;
}
#fb {
  width: 45%;
  border: 1px solid rgb(185, 183, 183);
  margin-right: 20px;
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
}
#fb:hover {
  cursor: pointer;
}
#tw {
  width: 45%;
  border: 1px solid rgb(185, 183, 183);
  margin-left: 20px;
  gap: 10px;
  display: flex;
  padding: 15px;
  align-items: center;
}
#tw:hover {
  cursor: pointer;
}
#last {
  text-align: center;
  margin-top: 25px;
}
